.btn-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  width: 85%;
  max-width: 920px;
  margin: 0 auto;
}

.btn-highlight {
  background: url('data:image/svg+xml;utf8,<svg width="100" height="100" transform="rotate(25)" opacity="0.8" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23d68810"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #ffcd28;
  background-size: 13px, 100%;
  font-weight: 700;
}

.btn {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  font-family: "Dekko", cursive;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

@media (max-width: 480px) {
  .btn {
    margin: 10px;
    padding: 10px;
    text-transform: none;
    letter-spacing: 0;
  }
}

@media (max-width: 375px) {
  .btn {
    margin: 2px;
    padding: 2px;
    text-transform: none;
    letter-spacing: 0;
  }
}
