.header {
  clear: both;
  overflow: auto;
  background: url('data:image/svg+xml;utf8,<svg width="10" height="10" transform="rotate(0)" opacity="0.2" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><g  fill="%23250E17"><circle cx="25" cy="25" r="12.5"/><circle cx="75" cy="75" r="12.5"/><circle cx="75" cy="25" r="12.5"/><circle cx="25" cy="75" r="12.5"/></g></svg>'),
    #f3f3f3;
  margin: 0;
  padding: 20px;
  border: 0.4rem solid #000;
  box-shadow: 0.4rem 0.4rem 0 black;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  float: left;
  height: 40px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  float: right;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  outline: none;
}
